## Library yang dibutuhkan

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier

In [2]:
df = pd.read_csv("student-mat.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [3]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

## Standatd & Encoder

In [4]:
from sklearn.preprocessing import StandardScaler,OrdinalEncoder

std = StandardScaler()
df[["age", "absences"]] = std.fit_transform(df[["age", "absences"]])

enc = OrdinalEncoder()
df[["Mjob", "Fjob", "famsup"]] = enc.fit_transform(df[["Mjob", "Fjob", "famsup"]])

## Data Splitting

In [6]:
from sklearn.model_selection import train_test_split

x = df[["age", "absences", "Mjob", "Fjob", "famsup"]]
y = df["school"]

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=0)

## Classification

### KKN

In [16]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5).fit(xtrain, ytrain)
pred_knn = knn.predict(xtest)
print("KNN akurasi :", round((accuracy_score(ytest, pred_knn)*100),3), "%")

KNN akurasi : 90.756 %

### Decision Tree

In [15]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier().fit(xtrain, ytrain)
pred_tree = tree.predict(xtest)
print("Decision Tree akurasi : ", round((accuracy_score(ytest, pred_tree)*100),3),"%")

Decision Tree akurasi :  80.672 %

### Naive Bayes

In [12]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB().fit(xtrain, ytrain)
pred_nb = nb.predict(xtest)
print("Naive Bayes akurasi : ", round((accuracy_score(ytest, pred_nb)*100),3),"%")

Naive Bayes akurasi :  90.756 %

### SVM

In [18]:
from sklearn.svm import SVC

svm = SVC().fit(xtrain,ytrain)
pred_svm = svm.predict(xtest)
print("SVM akurasi : ", round((accuracy_score(ytest, pred_svm)*100),3),"%")

SVM akurasi :  92.437 %